.login_page {
  min-height: 91vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eae3e1;
}

.login_container {
  height: 500px;
  width: 850px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  border-radius: 20px;
  box-shadow: 4px 7px 5px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 7px 5px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 7px 5px 2px rgba(0, 0, 0, 0.75);
  background-color: #5f6769;
}

.login {
  grid-column: 1/2;
  grid-row: 1/2;
  height: 100%;
  width: 100%;
}

.login img {
  width: 100%;
  height: 100%;
  display: block;
}

.login_form {
  grid-column: 2/3;
  grid-row: 1/2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_form form {
  padding-top: 30px;
}

.logo_div {
  display: flex;
  justify-content: center;
}

.form_logo {
  height: 100px;
  width: 100px;
}

.login_form h2 {
  color: white;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

.login_btn {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.login_btn button {
  height: 35px;
  width: 100px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  background-color: #c4dbf5;
  cursor: pointer;
}

.new_here {
  color: white;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
}

.new_here a {
  color: white;
  font-family: "Poppins", sans-serif;
  margin-left: 4px;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  /* .login_page {
  } */

  .login_container {
    width: 500px;
    height: 950px;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    margin: 20px 0px;
  }

  .login {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .login_form {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

@media screen and (max-width: 600px) {
  /* .login_page {
  } */

  .login_container {
    width: 330px;
    height: 860px;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    margin: 20px 0px;
  }

  .login {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .login_form {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .login_form form {
    padding-top: 30px;
  }

  .form_logo {
    height: 100px;
    width: 100px;
  }

  .login_form h2 {
    margin-bottom: 10px;
    font-size: 23px;
  }

  .login_btn {
    margin-bottom: 10px;
  }

  .login_btn button {
    height: 30px;
    font-size: 13px;
  }

  .new_here {
    font-size: 13px;
  }
}
